@model MMS_Inventory.ViewModels.LoginViewModells
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-panel">  
    <div class="card">
        <div class="card-body">
            <div style="padding:25px" class="bg-orange">Change Password</div>
            @using (Html.BeginForm("changeLogin", "Login"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <div class="body bg-gray">
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12 ">
                            @Html.LabelFor(model => model.EmpId)
                            @Html.TextBoxFor(model => model.EmpId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            @Html.LabelFor(model => model.EmailId)
                            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            @Html.LabelFor(model => model.MobileNo)
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            @Html.LabelFor(model => model.oldPassword)
                            @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control", @placeholder = "Enter Old Password", @required = "true" })
                            @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
            
                </div>
                <div class="form-group">
                    <div class="col-md-offset-0 col-md-10">
                        <input id="Submit1" class="btn btn-success" type="submit" value="Change Password">
                    </div>
                </div>

            }
        </div>
    </div>
</div>



