@model MMS.Models.Inventory.StoreVM

@using (Html.BeginForm("Create", "Store", FormMethod.Post, new { @id = "addStoreForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="UserName" value="@Session["UserName"]" />

    <div class="container">
        <div class="form-group">
            <div class="row mb-3">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.StoreCode, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.StoreCode, new { @class = "form-control", @placeholder = "Enter Store Code", @required = "required" })
                    @Html.ValidationMessageFor(model => model.StoreCode, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.StoreName, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control", @placeholder = "Enter Store Name", @required = "required" })
                    @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row mb-3">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.AccountNo, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.AccountNo, new { @class = "form-control", @placeholder = "Enter Account Number" })
                    @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.BranchCode, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.BranchCode, new { @class = "form-control", @placeholder = "Enter Branch Code" })
                    @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row mb-3">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Address, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ShortCode, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ShortCode, new { @class = "form-control", @placeholder = "Enter Short Code" })
                    @Html.ValidationMessageFor(model => model.ShortCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row mb-3">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.StockCc, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.StockCc, new { @class = "form-control", @placeholder = "Enter Stock Cost Center" })
                    @Html.ValidationMessageFor(model => model.StockCc, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.IsDamaged, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.IsDamaged, new { @class = "form-check-label" })
                    </div>
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.IsTransit, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.IsTransit, new { @class = "form-check-label" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
    </div>
}
